# Backend
fastapi==0.110.2
uvicorn[standard]==0.29.0
python-multipart==0.0.9
sqlalchemy[asyncio]==2.0.30
aiosqlite==0.20.0
pydantic==2.7.1
passlib[bcrypt]==1.7.4
python-jose==3.3.0
httpx==0.27.0

# Dashboard
streamlit==1.35.0
requests==2.32.3

# Bot Telegram (si usas telebot/pyTelegramBotAPI)
pyTelegramBotAPI==4.15.4

# Utilidades
python-dotenv==1.0.1
